{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<h1 class="page-heading">
      <img src="../static/images/Rokto Lagbe logo.png" height="120" width="120"/>
</h1>
<nav class="nav-container">
    <a href="{% url 'home' %}" class="nav-btn">Home</a>
    <a href="{% url 'searchdonors' %}" class="nav-btn">Search Donors</a>
    <a href="{% url 'aboutus' %}" class="nav-btn">About Us</a>
    <a href="{% url 'contactus' %}" class="nav-btn">Contact Us</a>

</nav>

<div class="row justify-content-center">
    <div class="col-sm-6 form-container">
        <h2 class="form-title">Welcome Back, {{ request.user.username }}!</h2>

        <div class="dashboard-buttons">
            <a href="{% url 'create_profile' %}" class="btn btn-dark">
                <i class="fas fa-user-plus"></i> Join As A Donor
            </a>
            <a href="{% url 'bloodreq' %}" class="btn btn-dark">
                <i class="fas fa-tint"></i> Request For Blood
            </a>
            <a href="{% url 'logout' %}" class="btn btn-dark">
                <i class="fas fa-sign-out-alt"></i> Logout
            </a>
        </div>
    </div>
</div>

</body>
</html>
