{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Different Blood Terms</title>
  <!-- External CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container-how-often-can-donate-blood">
    <h1>Different Blood Terms</h1>

    <div class="term"><strong>Hemorrhage (bleeding):</strong> Blood leaking out of blood vessels may be obvious, as from a wound penetrating the skin...</div>
    <div class="term"><strong>Hematoma:</strong> A collection of blood inside the body tissues...</div>
    <div class="term"><strong>Leukemia:</strong> A form of blood cancer, in which white blood cells multiply abnormally...</div>
    <div class="term"><strong>Multiple myeloma:</strong> A form of blood cancer of plasma cells similar to leukemia...</div>
    <div class="term"><strong>Lymphoma:</strong> A form of blood cancer, in which white blood cells multiply abnormally inside lymph nodes...</div>
    <div class="term"><strong>Anemia:</strong> An abnormally low number of red blood cells in the blood...</div>
    <div class="term"><strong>Hemolytic anemia:</strong> Anemia caused by rapid bursting of large numbers of red blood cells...</div>
    <div class="term"><strong>Hemochromatosis:</strong> A disorder causing excessive levels of iron in the blood...</div>
    <div class="term"><strong>Sickle cell disease:</strong> A genetic condition in which red blood cells periodically lose their proper shape...</div>
    <div class="term"><strong>Bacteremia:</strong> Bacterial infection of the blood...</div>
    <div class="term"><strong>Malaria:</strong> Infection of red blood cells by Plasmodium...</div>

    <div class="term"><strong>Thrombocytopenia:</strong> Abnormally low numbers of platelets in the blood...</div>
    <div class="term"><strong>Leukopenia:</strong> Abnormally low numbers of white blood cells in the blood...</div>
    <div class="term"><strong>Disseminated intravascular coagulation (DIC):</strong> An uncontrolled process of simultaneous bleeding and clotting...</div>
    <div class="term"><strong>Hemophilia:</strong> An inherited (genetic) deficiency of certain blood clotting proteins...</div>
    <div class="term"><strong>Hypercoaguable state:</strong> Numerous conditions can result in the blood being prone to clotting...</div>
    <div class="term"><strong>Polycythemia:</strong> Abnormally high numbers of red blood cells in the blood...</div>
    <div class="term"><strong>Deep venous thrombosis (DVT):</strong> A blood clot in a deep vein, usually in the leg...</div>
    <div class="term"><strong>Myocardial infarction (MI):</strong> Commonly called a heart attack...</div>
  </div>
</body>
</html>
