<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <h1>Home</h1> <br> <br>

         <a href="{% url 'aboutus' %}">About Us</a> <br>
         <a href="{% url 'bloodreq' %}">Blood Request</a> <br>
         <a href="{% url 'contactus' %}">Contact Us</a> <br>
         <a href="{% url 'login' %}">Login</a> <br>
         <a href="{% url 'signup' %}">Sign Up</a> <br>
         <a href="{% url 'searchdonors' %}">Search Donors</a> <br>
</body>
</html>