<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Search Donors</h1> <br> <br>
    <a href="{% url 'home' %}">Home</a> <br> <br>

    <h2>Search Donors</h2>
<ul>
    {% for donor in donors %}
        <li>
            <strong>Name:</strong> {{ donor.name }}<br>
            <strong>Blood Group:</strong> {{ donor.blood_group }}<br>
            <strong>Phone:</strong> {{ donor.phone }}<br>
            <strong>Location:</strong> {{ donor.location }}
        </li>
    {% empty %}
        <li>No donors available.</li>
    {% endfor %}
</ul>

</body>
</html>