{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<h1 class="page-heading">
      <img src="../static/images/Rokto Lagbe logo.png" height="120" width="120"/>
</h1>
<nav class="nav-container">
    <a href="{% url 'home' %}" class="nav-btn">Home</a>
    <a href="{% url 'searchdonors' %}" class="nav-btn">Search Donors</a>
    <a href="{% url 'bloodreq' %}" class="nav-btn">Blood Request</a>
    <a href="{% url 'login' %}" class="nav-btn">Login</a>
    <a href="{% url 'aboutus' %}" class="nav-btn">About Us</a>
    <a href="{% url 'contactus' %}" class="nav-btn">Contact Us</a>
    <a href="{% url 'dashboard' %}" class="nav-btn">Dashboard</a>
</nav>

<div class="row justify-content-center">
    <div class="col-sm-6">
        <h2>Register to Rokto Lagbe</h2>

        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}

            <div class="form-group">
                <label>Username:</label>
                <input type="text" name="{{ form.username.name }}" class="form-control" value="{{ form.username.value }}" placeholder="Enter your username" />
                {% if form.username.errors %}
                <span class="text-danger">{{ form.username.errors }}</span>
                {% endif %}
            </div>

            <div class="form-group">
                <label>Password:</label>
                <input type="password" name="{{ form.password1.name }}" class="form-control" value="{{ form.password1.value }}" placeholder="Enter your password" />
                <span class="text-danger">{{ form.password1.errors }}</span>
            </div>

            <div class="form-group">
                <label>Re-Type Password:</label>
                <input type="password" name="{{ form.password2.name }}" class="form-control" value="{{ form.password2.value }}" placeholder="Re-enter your password" />
                <span class="text-danger">{{ form.password2.errors }}</span>
            </div>

            <button type="submit" class="btn btn-dark">Submit</button>

            <a href="{% url 'login' %}" class="btn btn-default">Login</a>
        </form>
    </div>
</div>
